body{
    color: rgb(57, 5, 105);
    background-color: rgb(235, 236, 236);
    padding-left: 15px;
    };

  body h1{
        font-family: 'Times New Roman', Times, serif;
        line-height: 120%;
        font-weight: bold;
    }
    body h3{
        font-style: italic;
    }
    
    p{
        font-size: larger;
    }